@model RnD.DataTableSample.Models.Category
@using (Ajax.BeginForm("Edit", "Optimize", null,
        new AjaxOptions
        {
            UpdateTargetId = "updateTargetId",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "AjaxSuccess",
        }, new { @id = "editForm" }))
{
    <fieldset>
        <legend>Category:</legend>
        @Html.ValidationSummary(true)
        <div id="updateTargetId" class="error invisible">
        </div>
        @Html.HiddenFor(model => model.CategoryId)
        <div class="editor-field">
            <strong>@Html.LabelFor(model => model.Name): </strong>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </fieldset>
}
